<nav class="navbar bg-gray-900 shadow-sm fixed top-0 left-0 w-full z-50 flex justify-between items-center">
    <div class="flex-none">
        <a class="btn btn-ghost text-xl font-bold text-white" href="/">MPDB</a>
    </div>
    <div class="flex-1 flex justify-center">
        <input type="text" placeholder="Search MPDB" class="input input-bordered w-48 md:w-96 placeholder-white" />
    </div>
    <div class="flex-none flex items-center gap-4">
        <ul class="menu menu-horizontal gap-2">
            <li><NavLink class="btn btn-ghost btn-sm text-white" href="" Match="NavLinkMatch.All">Home</NavLink></li>
            <li><NavLink class="btn btn-ghost btn-sm text-white" href="weather">Weather</NavLink></li>
        </ul>
    </div>
</nav>